//
   Created by sempa on 1/26/2016.
extends  layout
block content
   .container
      .row
         .col-md-2
         .col-md-8
            form(method="post",action="/survey/create")
               div.form-group
                  label(for="name") Survey Name
                  input(type="text",class="form-control",name="name",placeholder="Survey Name",id="surveyName",value="#{name}")
               div.form-group
                  labe(for="description") Decscription
                  input(type="text",class="form-control",name="description",placeholder="Survey description",id="description",value="#{description}")
               input(type="submit",value="Submit",class="btn btn-primary")
         .col-md-2
