//
   Created by sempa on 1/24/2016.
extends layout
block content
    .container
        .row
            .col-md-2

            .col-md-8
                div.panel
                    div(class="panel-heading panel-panel-success")
                        Create Questions
                    div.panel-body
                        form(method="post",action="/survey/create/question")
                            input(class="form-control",name="surveyId",id="surveyId",type="hidden",value="#{questionObj.surveyId}")
                            div.form-group
                                label(for="question") Question
                                input(class="form-control",name="question",id="question",type="text",value="#{questionObj.question}")
                            div.form-group
                                label(for="questionScale") Question Scale
                                input(id="ex1", data-slider-id='ex1Slider', type="text", data-slider-min="0" ,data-slider-max="20", data-slider-step="1", data-slider-value="14")

                            div.form-group
                                input(class="form-control",name="answerOne",id="question",type="text",value="#{questionObj.question}",placeholder="Answer One")

                            div.form-group
                                input(class="form-control",name="answerTwo",id="question",type="text",value="#{questionObj.question}",placeholder="Answer Two")

                            div.form-group
                                input(class="form-control",name="answerThree",id="question",type="text",value="#{questionObj.question}",placeholder="Answer Three")

                            div.form-group
                               input(class="form-control",name="answerFour",id="question",type="text",value="#{questionObj.question}",placeholder="Answer Four")

                            input(type="submit",value="Submit",class="btn btn-primary")


            .col-md-2
        .row

block scripts
    script(src='/javascripts/slider.js')
