doctype html
html(ng-app="surveyApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap-slider.css')


  body
    block content

    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/bootstrap.js')
    script(src='/javascripts/vendor/bootstrap-slider.js')

    script(src='/javascripts/vendor/angularjs/angular.js')
    script(src='/javascripts/vendor/angularjs/angular-route.js')
    script(src='/javascripts/vendor/angularjs/angular-animate.js')

    script(src="/app/app.js")
    script(src='/app/controllers/auth_controller.js')
    script(src='/app/controllers/questions_controller.js')
    script(src='/app/controllers/main_controller.js')
    script(src='/app/controllers/attempt_questions_controller.js')
    script(src='/app/services/data_service.js')
    script(src='/app/directives/modalclose.js')
    script(src='/app/directives/slider.js')

  block scripts
