//
   Created by sempa on 1/24/2016.
extends layout
block content
    div.container
        h1= title
        .row
            div.col-md-2
            div.col-md-8
                div.row
                    a(href='/survey/create/question/#{surveyId}',class="btn btn-success") Create NEW
                div.row

                    form
                        div.well
                            each item in questions
                                div(class="alert alert-warning")
                                    p #{item.question}
                                ol.list-group
                                    each answer in item.answers
                                        li.list-group-item
                                            span(class="row form-group")
                                                div.col-md-10
                                                   p #{answer.answer}
                                                div.col-md-2
                                                    //input(type="checkbox",name="answer",id="answer",class="form-control")
                                                    input(id="ex1",class="ex1 col-md-2" data-slider-id='ex1Slider', type="text", data-slider-min="0" ,data-slider-max="20", data-slider-step="1", data-slider-value="14")

                                input(type="submit",value="Next",class="btn btn-success pull-right")
            .col-md-2
block scripts
    script(src='/javascripts/slider.js')


