//
   Created by sempa on 1/26/2016.
extends layout
block content
   .concontainer
      .row
         .col-md-3
             div
                 ul.list-group
                     li(class="list-group-item list-group-item-heading")   Navigation
                     li.list-group-item
                         a(href='/survey/list') All  Surveys
                     li.list-group-item
                         a(href='/survey/list') All  Surveys
                     li.list-group-item
                         a(href='/survey/list') All  Surveys

         .col-md-6
           .row
               a(href='/survey/create',class="btn btn-success") Create New
           .row
               table(class="table table-striped table-condensed")
                  thead
                      tr
                         th Survey Name
                         th Survey Description
                         th questions
                         th actions
                  tbody
                      each survey in surveys
                         tr
                            td #{survey.name}
                            td #{survey.description}
                            td
                                 a(href='/survey/questions/#{survey._id}',class="btn btn-warning") questionaire
                            td
                             a(href='/survey/delete/#{survey._id}',class="btn btn-warning") Delete


         .col-md-3


