//
   Created by sempa on 1/24/2016.
extends layout
block content
   div.container
      .row
         div.col-md-2
         div.col-md-8
            div.survey-questions
              form
                  div.well
                      each item in questions
                          div(class="alert alert-warning")
                             p #{item.question}
                          ol.list-group
                              li.list-group-item
                                  span(class="row form-group")
                                      div.col-md-10
                                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                      div.col-md-2
                                          input(type="checkbox",name="answer",id="answer",class="form-control")
                              li.list-group-item
                                  span(class="row form-group")
                                      div.col-md-10
                                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                      div.col-md-2
                                          input(type="checkbox",name="answer",id="answer2",class="form-control")
                              li.list-group-item
                                  span(class="row form-group")
                                      div.col-md-10
                                          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                      div.col-md-2
                                          input(type="checkbox",name="answer",id="answer3",class="form-control")
                          input(type="submit",value="Next",class="btn btn-success pull-right")

          .col-md-2

