<div class="container" ng-controller="attemptQuestionsController">
    <div class="row">

        <div class="col-md-8 col-lg-offset-2">
            <div class="row">
                <div class="row">
                    <form>
                        <div class="well">
                            <div  >
                                <div class="row">
                                    <div class="alert alert-info">
                                        <div clas="">
                                            <p> {{questionRow.question}}</p>
                                        </div>
                                    </div>
                                </div>
                                <ol class="list-group">
                                    <li ng-repeat="answer in questionRow.answers" class="list-group-item">
                                                   <span class="row form-group">
                                                       <div class="col-md-10">
                                                           <p> {{answer.answer}}</p>
                                                       </div>
                                                       <div class="col-md-2">
                                                           <input  ng-if="questionRow.isYesNo" type="checkbox" name="answer" ng-model="answer.acceptance" id="answer" class="form-control"/>
                                                           <input slider-plugin ng-if="questionRow.isForScale" class="ex1" name ="questionScale"  id="{{answer.answerId}}"
                                                                  data-slider-id='{{answer.answerId}}' type="text"
                                                                  data-slider-min="1"  data-slider-max="5"  data-slider-step="1"
                                                                  data-slider-value="1" ng-model="answer.scale" />
                                                           <textarea  ng-if="questionRow.isTextOnly" name="textAnswer" ng-model="answer.narrative" id="textAnswer" class="form-control"/>
                                                       </div>
                                                   </span>
                                    </li>
                                </ol>
                                <input type="submit" ng-click="moveNextAndSave()" value="Next" class="btn btn-success pull-right"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>