<div class="container">
    <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                            <div class="panel">
                                <div class="panel-heading panel-panel-success">Create Questions</div>
                                <div class="panel-body">
                                    <form method="post" action="/survey/create/question">
                                         <input class="form-control" name="surveyId" id="surveyId" type="hidden" ng-model="objQuestion.surveyId"/>
                                         <div class="form-group">
                                             <label for="question"> Question</label>
                                             <input class="form-control" name="question" id="question" type="text" ng-model="objQuestion.question"/>
                                         </div>
                                         <div class="form-group">
                                                <label for="questionScale"> Question Scale</label>
                                                <input name ="questionScale",id="ex1", data-slider-id='ex1Slider', type="text",
                                                       data-slider-min="0" ,data-slider-max="20", data-slider-step="1",
                                                       data-slider-value="{{objQuestion.scale}}" ng-model="objQuestion.scale"/>
                                         </div>
                                        <div class="form-group">
                                            <label for="question"> Question</label>
                                            <input class="form-control" name="question" id="question" type="text" value="#{questionObj.question}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="questionScale"> Question Scale</label>
                                            <input id="ex1"  data-slider-id='ex1Slider'  type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1"  data-slider-value="14"/>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="answerOne" id="question" type="text" value="#{questionObj.question}" placeholder="Answer One"/>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="answerTwo" id="question" type="text" value="#{questionObj.question}" placeholder="Answer Two"/>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="answerThree" id="question" type="text" value="#{questionObj.question}" placeholder="Answer Three"/>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="answerFour" id="question" type="text" value="#{questionObj.question}" placeholder="Answer Four"/>
                                        </div>
                                        <input type="submit",value="Submit",class="btn btn-primary">
                                    </form>
                                </div>
                            </div>
            </div>

            <div class="col-md-2"></div>
    </div>
    <div class="row"> </div>

</div>
<script src="/javascripts/slider.js"></script>