<div class="container" ng-controller="mainController">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-3">
            <a  ng-href="#/login" class="btn btn-default btn-block">Admin? Sign In </a>
            <button type="button" class="btn btn-default  btn-block" data-target="#companyCode" data-toggle="modal">User? Activate Your Account </button>
        </div>
    </div>



    <div class="modal fade" modal-close id="companyCode">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close" ng-click="resetDialogData()">&times;</button>
                    <h3>Enter Your Company Assigned Code</h3>
                </div>
                <div class="modal-body">
                    <form ng-submit="activateUserSurvey()">
                        <div class="form-group">
                            <span class="error has-error" ng-show="error">{{errorMessage}}</span>
                        </div>
                        <div class="form-group">
                            <label>Company Code</label>
                            <input type="text" ng-model="userCompanyCode" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-block btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
