<div class="container" ng-controller="authController">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title"> Sign in PQuotient</h1>
            <div class="account-wall">
                <div class="text-center">
                    <img class='profile-img' src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120'/>
                </div>

                <form class='form-signin' name="frmLogin" ng-submit="login(frmLogin.$valid)"  novalidate>
                    <div class="form-group" ng-class="{'has-error':frmLogin.userName.$invalid&&!frmLogin.userName.$pristine&&isSubmited}">
                        <input type='text' name='userName'  class='form-control' ng-model="userCredentials.userName" placeholder='User Name' required  autofocus/>
                        <p class="help-block" ng-show="frmLogin.userName.$invalid&&!frmLogin.userName.$pristine&&isSubmited">User name is required</p>
                    </div>
                    <div class="form-group" ng-class="{'has-error':frmLogin.password.$error.minlength&&!frmLogin.password.$pristine&&isSubmited}">
                        <input type='password'  name='password'  class='form-control' ng-model="userCredentials.password" placeholder='Password' ng-minlength="5" required/>
                        <p class="help-block" ng-show="frmLogin.password.$error.minlength&&!frmLogin.password.$pristine&&isSubmited">Password should have more atleast 5 characters</p>
                    </div>


                    <input class='btn btn-lg btn-primary btn-block'  type='submit' value="Sign in"/>
                    <span class="clearfix"></span>
                </form>
            </div>
            <div class="text-center">
                <a ng-href='#/api/signup' class='text-center new-account'><h4>Create an account <small>(For Admins)</small></h4></a>
            </div>

            <!--#message
            if message
            <h1 class="text-center.error-message">#{message}</h1>-->

        </div>
    </div>
</div>