<!--
   Created by sempa on 2/19/2016.-->


<div class="container" ng-controller="authController">

    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
           <form name="signin" id="signin" type="get" class="form-signin" method="post" action="">
               <h2 class="form-signin-heading text-center">Please Sign Up For PQuotient</h2>
               <input type="text" class="form-control" placeholder=" First Name" autofocus name="firstname"  id="firstname" ng-model="user.firstName"/>
               <input type="text" class="form-control" placeholder=" Last Name" autofocus name="lastname"  id="lastname" ng-model="user.lastName"/>
               <input type="email" class="form-control" placeholder="Email" name="email" id="email" value="{{email}}"/>
               <input type="number" class="form-control" placeholder="Phone Number" name="phone" id="phone" ng-model="user.phone"/>
               <input type="text" class="form-control" placeholder="User Name" autofocus name="username"  id="username" ng-model="user.userName"/>
               <input type="password" class="form-control" placeholder="Password" name="password" id="password" ng-model="user.password"/>
               <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" id="confirm_password"  ng-model="user.confirmPassword"/>
               <input type="button" ng-click="register()" value="Sign Up" class="btn btn-primary btn-block"/>
            </form>
        </div>
    </div>
</div>