<!--Created by sempa on 1/26/2016.-->

    <div class="container" ng-controller="mainController">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-heading">Navigation</li>
                        <li class="list-group-item">
                            <a ng-href='#/'>Home </a>
                        </li>
                        <li class="list-group-item">
                            <a ng-href='#/api/surveys'>All  Surveys</a>
                        </li>
                        <li class="list-group-item">
                            <a href='#/survey/users'>Users</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <a href='/survey/create' class="btn btn-success"> Create New</a>
                </div>
                <div class="row">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th> Survey Name</th>
                                <th> Survey Description</th>
                                <th> questions</th>
                                <th> actions</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>

                                <tr ng-repeat="survey in surveyRows">
                                    <td> {{survey.name}}</td>
                                    <td> {{survey.description}}</td>
                                    <td> <div ng-click='surveyQuestions(survey.surveyId)' class="btn btn-warning">questionaire ({{survey.questions.length}})</div>
                                    <td> <a href='/survey/delete/{{survey.surveyId}}' class="btn btn-danger"> Delete</a>
                                    <td><button type="button" class="btn btn btn-default" data-target="#createUserCodes"
                                        data-toggle="modal" ng-click="addUserCodeEntry(survey.surveyId)">Create Codes</button> </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- user codes cretion dialog-->
        <div class="modal fade" modal-close id="createUserCodes">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" aria-label="close" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <span class="modal-title">Enter User Telephone Numbers suffixed by country code eg 256</span>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="createCompanyUserCodes()">
                            <div  ng-repeat="item in companyUserCodes">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text"   ng-model="item.phoneNumber"
                                               placeholder="Add the employee phone number here suffixed by the country code eg 256"/>
                                    </div>
                                    <div class="col-lg-4">
                                    <button class=" btn btn-default" ng-click="removeCompanyUserCode(item)">&times;</button>
                                        </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" ng-click="addUserCodeEntry(surveyId)">Add Phone Number</button>
                            <button type="submit" class="btn  btn-primary pull-right">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>