body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.survey-questions li{
   list-style-type:  upper-alpha;

}
.slider-bar{
    display:block; width:80px; background-color:darkred; position:relative;
}

.slider, .slider-bar{
    height:30px;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}

